.theControls {
  background-color: green;
  text-align: center;
}

.horizontal-line {
  border: 2px solid yellow;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.verical-line {
  border-left: 5px solid yellow;
  height: 100px;
  margin: 5px;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.verical-line2 {
  border-left: 5px solid yellow;
  height: 50px;
  margin: 1px;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.horizontal-card {
  display: inline-block;
  text-align: left;
  margin: 25px;
  padding: 18px 15px 0 15px;
  width: 70px;
  height: 40px;
  font-size: 20px;
  background-color: white;
  border: solid 1px black;
}

.vertical-card {
  display: inline-block;
  text-align: center;
  margin: 10px;
  padding: 18px 15px 0 15px;
  width: 40px;
  height: 70px;
  font-size: 20px;
  background-color: white;
  border: solid 1px black;
}

body {
  background-color: green;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.Spades {
  color: black;
}

.Clubs {
  color: black;
}

.Hearts {
  color: red;
}

.Diamonds {
  color: red;
}

#bonusBox {
  background-color: green;
}

#betBox {
  background-color: green;
  margin: 0px;
  height: 50px;
  text-align: center;
}

#dragon {
  width: 45px;
}

#tie {
  width: 40px;
}

#panda {
  width: 45px;
}

#bankerBet {
  width: 40px;
}

#playerBet {
  width: 40px;
}

#myTotal {
  background-color: green;
  width: 60px;
  color: yellow;
  border: none;
}

.suit {
  border: none;
}

.image {
  border: none;
}

/* .hidden {
  visibility: hidden;
} */
